/.vs/CityInfo/v15
/.vs/config/applicationhost.config
/CityInfo/bin/Debug/netcoreapp2.0
/CityInfo/obj/CityInfo.csproj.nuget.cache
/CityInfo/obj
/Testing/Unit/bin/Debug/netcoreapp2.0/Unit.deps.json
/Testing/Unit/bin/Debug/netcoreapp2.0/*.dll
/Testing/Unit/bin/Debug/netcoreapp2.0/Unit.pdb
/Testing/Unit/obj/Debug/netcoreapp2.0/Unit.AssemblyInfo.cs
/Testing/Unit/obj/Debug/netcoreapp2.0/Unit.AssemblyInfoInputs.cache
/Testing/Unit/obj/Debug/netcoreapp2.0/Unit.csproj.CoreCompileInputs.cache
/Testing/Unit/obj/Debug/netcoreapp2.0/Unit.csproj.FileListAbsolute.txt
/Testing/Unit/obj/Debug/netcoreapp2.0/Unit.csprojResolveAssemblyReference.cache
/Testing/Unit/obj/Debug/netcoreapp2.0/Unit.dll
/Testing/Unit/obj/Debug/netcoreapp2.0/Unit.pdb
/Testing/Unit/obj/Unit.csproj.nuget.cache
/Testing/Unit/obj/Unit.csproj.nuget.g.props
/Testing/Unit/obj/Unit.csproj.nuget.g.targets
/Testing/Unit/obj
/Testing/Unit/bin/Debug/netcoreapp2.0
